* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 92vh;
  flex-direction: column;
  align-items: center;
}

.lnk{
  text-decoration: none;
  background-color: #222831;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.lnk:hover {
  background-color: #161a20;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  margin-top: 40px;
  height: 30vh;
  width: 40vw;
  color: white;
  border-radius: 15px;
  padding: 20px;
}

input {
  border: none;
  padding: 5px;
  border-radius: 3px;
}

a {
  margin-top: 20px;
}


